In [74]:
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import stopwords
import string
import numpy as np
import pandas as pd
import nltk
from sklearn.ensemble import RandomForestClassifier
from nltk.classify.scikitlearn import SklearnClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from nltk.corpus import wordnet
from nltk.tokenize import sent_tokenize, word_tokenize
from sklearn.svm import SVC

In [2]:
training_data = pd.read_csv('0000000000002747_training_twitter_x_y_train.csv')
testing_data = pd.read_csv('0000000000002747_test_twitter_x_test.csv')

In [4]:
training_data.head(5)

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [5]:
training_data.describe(include="all")

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
count,1.098000e+04,10980,10980,31,10980,24,10980.000000,10980,776,10980,7430,7403
unique,NaN,3,6,3,6438,11,NaN,10851,632,10758,2658,78
top,NaN,negative,United,negative,JetBlueNews,Customer Service Issue,NaN,@united thanks,"[0.0, 0.0]",2015-02-23 06:57:24 -0800,"New York, NY",Eastern Time (US & Canada)
freq,NaN,6851,2928,24,43,9,NaN,6,131,3,125,2819
mean,5.692169e+17,NaN,NaN,NaN,NaN,NaN,0.080965,NaN,NaN,NaN,NaN,NaN
std,7.795438e+14,NaN,NaN,NaN,NaN,NaN,0.740303,NaN,NaN,NaN,NaN,NaN
min,5.675883e+17,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,5.685584e+17,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
50%,5.694753e+17,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
75%,5.698902e+17,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
max,5.703106e+17,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,NaN,NaN

In [36]:
tweets = training_data["text"].values
sentiments = training_data["airline_sentiment"].values

In [37]:
print(len(tweets))
print(len(sentiments))

10980
10980

In [38]:
train_documents = []
for i in range(len(tweets)):
    train_documents.append((word_tokenize(tweets[i]),sentiments[i]))

In [39]:
print(train_documents[0])

(['@', 'SouthwestAir', 'I', 'am', 'scheduled', 'for', 'the', 'morning', ',', '2', 'days', 'after', 'the', 'fact', ',', 'yes..not', 'sure', 'why', 'my', 'evening', 'flight', 'was', 'the', 'only', 'one', 'Cancelled', 'Flightled'], 'negative')

In [40]:
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [41]:
stops = set(stopwords.words('english'))
punctuations = list(string.punctuation)
stops.update(punctuations)

In [42]:
lemmatizer = WordNetLemmatizer()

In [43]:
def clean_tweet(words):
    output_words = []
    for w in words:
        if w.lower() not in stops:
            pos = pos_tag([w])
            clean_word = lemmatizer.lemmatize(w, pos = get_simple_pos(pos[0][1]))
            output_words.append(clean_word.lower())
    return output_words

In [44]:
train_documents = [(clean_tweet(tweet), sentiment) for tweet, sentiment in train_documents]

In [49]:
print(train_documents[0])

(['southwestair', 'schedule', 'morning', '2', 'day', 'fact', 'yes..not', 'sure', 'even', 'flight', 'one', 'cancelled', 'flightled'], 'negative')

In [50]:
sentiments = [sentiment for tweet, sentiment in train_documents]

In [51]:
tweet_documents = [" ".join(tweet) for tweet, sentiment in train_documents]

## Testing Data Cleaning

In [53]:
testing_data.head(5)

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,NaN,rossj987,NaN,0,@USAirways I can legitimately say that I would...,NaN,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,NaN,tranpham18,NaN,0,@AmericanAir still no response from AA. great ...,NaN,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)

In [69]:
testing_data.describe(include="all")

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
count,3.660000e+03,3660,9,3660,8,3660.000000,3660,243,3660,2477,2417
unique,NaN,6,2,2805,6,NaN,3650,209,3635,1258,59
top,NaN,United,negative,JetBlueNews,Customer Service Issue,NaN,@AmericanAir I purchased Main Cabin XT for f-1...,"[0.0, 0.0]",2015-02-23 15:25:46 -0800,USA,Eastern Time (US & Canada)
freq,NaN,894,8,20,3,NaN,2,33,3,43,925
mean,5.692226e+17,NaN,NaN,NaN,NaN,0.087705,NaN,NaN,NaN,NaN,NaN
std,7.779030e+14,NaN,NaN,NaN,NaN,0.762048,NaN,NaN,NaN,NaN,NaN
min,5.675924e+17,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,5.685633e+17,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
50%,5.694842e+17,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
75%,5.698927e+17,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
max,5.703083e+17,NaN,NaN,NaN,NaN,32.000000,NaN,NaN,NaN,NaN,NaN

In [55]:
tweets = testing_data["text"].values

In [57]:
print(len(tweets))

3660

In [62]:
test_documents = []
for i in range(len(tweets)):
    test_documents.append(word_tokenize(tweets[i]))

In [63]:
print(test_documents[0])

['@', 'AmericanAir', 'In', 'car', 'gng', 'to', 'DFW', '.', 'Pulled', 'over', '1hr', 'ago', '-', 'very', 'icy', 'roads', '.', 'On-hold', 'with', 'AA', 'since', '1hr', '.', 'Ca', "n't", 'reach', 'arpt', 'for', 'AA2450', '.', 'Wat', '2', 'do', '?']

In [64]:
test_documents = [clean_tweet(tweet) for tweet in test_documents]

In [65]:
print(test_documents[0])

['americanair', 'car', 'gng', 'dfw', 'pulled', '1hr', 'ago', 'icy', 'road', 'on-hold', 'aa', 'since', '1hr', 'ca', "n't", 'reach', 'arpt', 'aa2450', 'wat', '2']

In [66]:
test_tweet_documents = [" ".join(tweet) for tweet in test_documents]

In [67]:
print(test_tweet_documents[0])

americanair car gng dfw pulled 1hr ago icy road on-hold aa since 1hr ca n't reach arpt aa2450 wat 2

In [68]:
count_vect = TfidfVectorizer(max_features=5000, max_df=0.8, min_df=0.001)

In [70]:
x_train = count_vect.fit_transform(tweet_documents)
y_train = sentiments

x_test=count_vect.transform(test_tweet_documents)

In [72]:
count_vect.get_feature_names()

['000',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '1hr',
 '1k',
 '1st',
 '20',
 '200',
 '2015',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '2hrs',
 '2nd',
 '30',
 '35',
 '36',
 '3rd',
 '40',
 '400',
 '45',
 '50',
 '500',
 '60',
 '70',
 '700',
 '728',
 '75',
 '800',
 '90',
 'aa',
 'able',
 'absolute',
 'absolutely',
 'accept',
 'acceptable',
 'access',
 'accommodate',
 'account',
 'act',
 'actual',
 'actually',
 'add',
 'additional',
 'address',
 'advantage',
 'advise',
 'advisory',
 'afternoon',
 'age',
 'agent',
 'ago',
 'ah',
 'ahead',
 'air',
 'aircraft',
 'airline',
 'airlines',
 'airplane',
 'airport',
 'airway',
 'airways',
 'alert',
 'all',
 'allow',
 'almost',
 'alone',
 'along',
 'already',
 'also',
 'alternate',
 'although',
 'always',
 'amaze',
 'amazing',
 'america',
 'american',
 'americanair',
 'americanairlines',
 'amount',
 'amp',
 'angry',
 'announce',
 'announcement',
 'another',
 'answer',
 'anymore',
 'anyone',
 'anything',
 'anyway',
 'anywhere',
 'apologize',
 'apology',
 'app',
 'apparently',
 'appear',
 'appease',
 'apply',
 'appreciate',
 'april',
 'area',
 'around',
 'arrival',
 'arrive',
 'arrives',
 'asap',
 'ask',
 'assign',
 'assist',
 'assistance',
 'atl',
 'atlanta',
 'attempt',
 'attendant',
 'attitude',
 'aus',
 'austin',
 'auto',
 'automate',
 'automatically',
 'avail',
 'available',
 'avgeek',
 'avoid',
 'award',
 'aware',
 'away',
 'awesome',
 'awful',
 'baby',
 'back',
 'bad',
 'badcustomerservice',
 'badservice',
 'bag',
 'baggage',
 'bank',
 'base',
 'bathroom',
 'bc',
 'bday',
 'bdl',
 'beautiful',
 'become',
 'begin',
 'behind',
 'believe',
 'best',
 'bet',
 'beyond',
 'big',
 'bin',
 'birthday',
 'bit',
 'blame',
 'blue',
 'bna',
 'board',
 'boarding',
 'book',
 'booked',
 'booking',
 'bos',
 'boston',
 'bother',
 'bought',
 'brand',
 'break',
 'bring',
 'broke',
 'broken',
 'brother',
 'bs',
 'btw',
 'buf',
 'bumped',
 'bus',
 'business',
 'busy',
 'buy',
 'bwi',
 'ca',
 'cab',
 'cabin',
 'call',
 'callback',
 'called',
 'can',
 'cancelled',
 'cant',
 'captain',
 'car',
 'card',
 'care',
 'carousel',
 'carrier',
 'carry',
 'case',
 'catch',
 'catering',
 'cause',
 'cc',
 'center',
 'ceo',
 'chance',
 'change',
 'character',
 'charge',
 'charlotte',
 'cheap',
 'cheaper',
 'check',
 'checked',
 'checkin',
 'chicago',
 'child',
 'choice',
 'choose',
 'city',
 'claim',
 'class',
 'clean',
 'clear',
 'clearly',
 'client',
 'close',
 'clothes',
 'clt',
 'club',
 'clue',
 'cmh',
 'co',
 'coat',
 'code',
 'coffee',
 'cold',
 'columbus',
 'com',
 'come',
 'commercial',
 'communication',
 'companion',
 'company',
 'compensate',
 'compensation',
 'complain',
 'complaint',
 'complete',
 'completely',
 'computer',
 'concern',
 'condition',
 'conf',
 'confirm',
 'confirmation',
 'confuse',
 'congrats',
 'connect',
 'connection',
 'consider',
 'contact',
 'continue',
 'control',
 'cool',
 'corporate',
 'correct',
 'cost',
 'could',
 'count',
 'counter',
 'counting',
 'country',
 'couple',
 'course',
 'courtesy',
 'cover',
 'crappy',
 'crazy',
 'create',
 'credit',
 'crew',
 'cross',
 'cry',
 'current',
 'currently',
 'cust',
 'customer',
 'customerservice',
 'cut',
 'dad',
 'daily',
 'dal',
 'dallas',
 'damage',
 'damn',
 'date',
 'daughter',
 'day',
 'dc',
 'dca',
 'de',
 'deal',
 'death',
 'decide',
 'definitely',
 'degree',
 'delay',
 'delayed',
 'delays',
 'deliver',
 'delivery',
 'delta',
 'den',
 'denver',
 'deny',
 'depart',
 'department',
 'departure',
 'deplane',
 'dept',
 'deserves',
 'desk',
 'despite',
 'destination',
 'destinationdragons',
 'detail',
 'dfw',
 'dfwairport',
 'die',
 'diego',
 'diff',
 'difference',
 'different',
 'direct',
 'disappoint',
 'disappointed',
 'disaster',
 'disconnect',
 'discount',
 'disgust',
 'divert',
 'dividend',
 'dm',
 'do',
 'dog',
 'dollar',
 'domestic',
 'done',
 'dont',
 'door',
 'double',
 'dragon',
 'dream',
 'drink',
 'drive',
 'drop',
 'due',
 'earlier',
 'early',
 'earn',
 'east',
 'easy',
 'eat',
 'economy',
 'effort',
 'either',
 'else',
 'email',
 'emergency',
 'employee',
 'empty',
 'end',
 'engine',
 'enjoy',
 'enough',
 'enter',
 'entertainment',
 'entire',
 'equipment',
 'error',
 'especially',
 'etc',
 'even',
 'event',
 'eventually',
 'ever',
 'every',
 'everyone',
 'everything',
 'ewr',
 'exactly',
 'excellent',
 'except',
 'excite',
 'excuse',
 'exit',
 'expect',
 'expensive',
 'experience',
 'experienced',
 'expire',
 'explain',
 'explanation',
 'extend',
 'extra',
 'extremely',
 'eye',
 'face',
 'fact',
 'fail',
 'failure',
 'fair',
 'fall',
 'family',
 'fan',
 'fantastic',
 'far',
 'fare',
 'fast',
 'faster',
 'fault',
 'favorite',
 'feature',
 'feb',
 'february',
 'fee',
 'feedback',
 'feel',
 'fight',
 'figure',
 'file',
 'fill',
 'final',
 'finally',
 'find',
 'fine',
 'first',
 'fit',
 'five',
 'fix',
 'fl',
 'fleek',
 'fleet',
 'flew',
 'flight',
 'flightd',
 'flighted',
 'flighting',
 'flightlation',
 'flightlations',
 'flightled',
 'flightling',
 'flightr',
 'flights',
 'fll',
 'floor',
 'florida',
 'flown',
 'flt',
 'fly',
 'flyer',
 'flyfi',
 'flying',
 'folk',
 'follow',
 'food',
 'foot',
 'force',
 'forever',
 'forget',
 'forgot',
 'form',
 'fort',
 'forward',
 'found',
 'four',
 'free',
 'freeze',
 'frequent',
 'friday',
 'friend',
 'friendly',
 'front',
 'frozen',
 'frustrate',
 'frustration',
 'fuck',
 'fuel',
 'full',
 'fun',
 'funeral',
 'funny',
 'future',
 'fyi',
 'game',
 'gate',
 'get',
 'give',
 'glad',
 'global',
 'go',
 'god',
 'going',
 'gold',
 'gon',
 'good',
 'got',
 'gotten',
 'great',
 'ground',
 'group',
 'gt',
 'guess',
 'guy',
 'guys',
 'haha',
 'half',
 'hand',
 'handle',
 'hang',
 'happen',
 'happens',
 'happy',
 'hard',
 'hate',
 'hawaii',
 'head',
 'hear',
 'heard',
 'hearing',
 'held',
 'hell',
 'hello',
 'help',
 'helpful',
 'hey',
 'hi',
 'high',
 'hire',
 'hit',
 'hold',
 'holder',
 'home',
 'honest',
 'honor',
 'hop',
 'hope',
 'hopefully',
 'hoping',
 'horrible',
 'hot',
 'hotel',
 'hour',
 'hours',
 'houston',
 'however',
 'hr',
 'http',
 'huge',
 'human',
 'hundred',
 'hung',
 'husband',
 'iad',
 'iah',
 'ice',
 'id',
 'idea',
 'ignore',
 'im',
 'imagine',
 'imaginedragons',
 'important',
 'impossible',
 'impressed',
 'in',
 'include',
 'incompetence',
 'incompetent',
 'inconvenience',
 'incredibly',
 'infant',
 'inflight',
 'info',
 'inform',
 'information',
 'inside',
 'instead',
 'international',
 'internet',
 'intl',
 'iphone',
 'issue',
 'item',
 'itinerary',
 'jblu',
 'jet',
 'jetblue',
 'jetway',
 'jfk',
 'job',
 'joke',
 'juan',
 'keep',
 'kept',
 'kid',
 'kill',
 'kind',
 'knew',
 'know',
 'kudos',
 'la',
 'lack',
 'lady',
 'land',
 'large',
 'las',
 'last',
 'late',
 'lax',
 'layover',
 'lead',
 'learn',
 'least',
 'leave',
 'left',
 'leg',
 'legroom',
 'less',
 'let',
 'letter',
 'level',
 'lga',
 'lie',
 'life',
 'like',
 'likely',
 'line',
 'link',
 'list',
 'listen',
 'literally',
 'little',
 'live',
 'll',
 'load',
 'locate',
 'location',
 'log',
 'logan',
 'lol',
 'long',
 'longer',
 'look',
 'looking',
 'looks',
 'lose',
 'lost',
 'lot',
 'lots',
 'lounge',
 'love',
 'lovely',
 'low',
 'loyal',
 'lt',
 'luck',
 'luggage',
 'luv',
 'mad',
 'made',
 'mail',
 'maintenance',
 'major',
 'make',
 'makes',
 'man',
 'manage',
 'many',
 'march',
 'mark',
 'match',
 'matter',
 'may',
 'maybe',
 'mco',
 'mdw',
 'meal',
 'mean',
 'mechanical',
 'medium',
 'meeting',
 'member',
 'mention',
 'merge',
 'merger',
 'mess',
 'message',
 'met',
 'mexico',
 'mia',
 'miami',
 'middle',
 'midnight',
 'might',
 'mile',
 'mileage',
 'mileageplus',
 'miles',
 'military',
 'min',
 'mind',
 'mine',
 'minor',
 'mint',
 'minute',
 'miss',
 'missed',
 'missing',
 'mistake',
 'mobile',
 'mom',
 'mon',
 'monday',
 'money',
 'month',
 'morning',
 'move',
 'movie',
 'msg',
 'much',
 'multiple',
 'music',
 'must',
 'na',
 'name',
 'nashville',
 'nc',
 'near',
 'nearly',
 'need',
 'never',
 'neveragain',
 'new',
 'newark',
 'news',
 'next',
 'nice',
 'night',
 'nightmare',
 'no',
 'nobody',
 'non',
 'none',
 'nonstop',
 'nope',
 'not',
 'note',
 'nothing',
 'notice',
 'notification',
 'notify',
 'number',
 'ny',
 'nyc',
 'obviously',
 'offer',
 'offering',
 'office',
 'officially',
 'oh',
 'ok',
 'okay',
 'old',
 'omg',
 'on',
 'onboard',
 'one',
 'online',
 'onto',
 'open',
 'opportunity',
 'option',
 'ord',
 'order',
 'original',
 'originally',
 'orlando',
 'others',
 'otherwise',
 'out',
 'outside',
 'outstanding',
 'overbooked',
 'overhead',
 'overnight',
 'page',
 'paid',
 'parent',
 'part',
 'partner',
 'party',
 'pas',
 'pass',
 'passbook',
 'passenger',
 'past',
 'pathetic',
 'patience',
 'pay',
 'pbi',
 'pdx',
 'people',
 'per',
 'perfect',
 'perhaps',
 'person',
 'personal',
 'philadelphia',
 'philly',
 'phl',
 'phlairport',
 'phoenix',
 'phone',
 'photo',
 'phx',
 'pic',
 'pick',
 'picked',
 'picture',
 'pilot',
 'pit',
 'place',
 'plan',
 'plane',
 'planning',
 'platinum',
 'play',
 'pleasant',
 'please',
 'plenty',
 'pls',
 'plus',
 'plz',
 'pm',
 'point',
 'policy',
 'poor',
 'possible',
 'post',
 'power',
 'ppl',
 'pr',
 'pre',
 'prefer',
 'premier',
 'pretty',
 'previous',
 'price',
 'prior',
 'priority',
 'probably',
 'problem',
 'problems',
 'process',
 'professional',
 'profit',
 'program',
 'promise',
 'promo',
 'prompt',
 'provide',
 'public',
 'pull',
 'purchase',
 'push',
 'put',
 'quality',
 'question',
 'quick',
 'quickly',
 'raise',
 'rate',
 'rather',
 'rdu',
 're',
 'reach',
 'read',
 'ready',
 'real',
 'realize',
 'really',
 'reason',
 'rebook',
 'rebooked',
 'receipt',
 'receive',
 'record',
 'red',
 'redeem',
 'reflight',
 'refund',
 'refuse',
 'regard',
 'reimburse',
 'reimbursement',
 'relate',
 'relation',
 'remember',
 'remove',
 'rental',
 'rep',
 'reply',
 'report',
 'representative',
 'request',
 'require',
 'reschedule',
 'reservation',
 'reserve',
 'resolution',
 'resolve',
 'respect',
 'respond',
 'response',
 'result',
 'retrieve',
 'return',
 'reward',
 'ride',
 'ridiculous',
 'right',
 'rock',
 'room',
 'round',
 'route',
 'row',
 'rt',
 'rude',
 'ruin',
 'rule',
 'run',
 'runway',
 'sad',
 'safe',
 'safely',
 'safety',
 'sale',
 'san',
 'sat',
 'saturday',
 'save',
 'saw',
 'say',
 'schedule',
 'screen',
 'screw',
 'sea',
 'seat',
 'seattle',
 'second',
 'security',
 'see',
 'seem',
 'seems',
 'select',
 'sell',
 'send',
 'sense',
 'sent',
 'serious',
 'seriously',
 'serve',
 'service',
 'set',
 'several',
 'sf',
 'sfo',
 'shame',
 'share',
 'shit',
 'short',
 'shout',
 'show',
 'shuttle',
 'sick',
 'side',
 ...]

In [75]:
svc = SVC()
svc.fit(x_train, y_train)

C:\Users\Piyush Pravin\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [76]:
y_test = svc.predict(x_test)

In [77]:
y_test

array(['negative', 'negative', 'negative', ..., 'negative', 'negative',
       'negative'], dtype='<U8')

In [79]:
svc.score(x_test, y_test)

1.0

In [80]:
np.savetxt("prediction.csv", y_test, fmt='%s')